<%- include('../inc/top') %>
            
            <h3 >Users</h3>
            <div class="col-12 bg-success-subtle ">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="col-12">
                       
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle bg-dark-subtle"  href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Sort
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="user.html">Theo tên</a></li>
                                        <li><a class="dropdown-item" href="#">Theo Email</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle bg-dark-subtle" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Filter
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Admin</a></li>
                                        <li><a class="dropdown-item" href="#">User</a></li>

                                        
                                    </ul>
                                </li>
                                
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Banner</a></li>
                                        <li><a class="dropdown-item" href="#">Info</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search"
                                    aria-label="Search" name="username">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                            <button type="button" class="btn btn-outline-success m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                New
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">New User</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="">
                                            <h3 style="color: blue;"></h3>
                                            
                                            <div class="mb-3">
                                                <label class="form-label">Username</label>
                                                <input type="text" class="form-control"  name="username">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                                <input type="password" class="form-control"
                                                    id="exampleInputPassword1" name="password">
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="email"
                                                    aria-describedby="emailHelp" name="email">
                                                <div id="emailHelp" class="form-text">We'll never share
                                                    your email with anyone else.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label" >Role</label>
                                                <select class="form-select" name="role">
                                  
                                                  <option value="0">User</option>
                                                  <option value="1">Admin</option>
                                                 
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Save</button>
                                            
                        
                                            
                                            <!-- <div>
                                                <button type="submit" class="btn m-1  btn-outline-danger" >Save</button>
                                                <button type="submit" class="btn m-1  btn-outline-danger" onclick="outForm">Cancel</button>
                                            </div> -->
                                            
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </nav>
            </div>
            
            
        <div class="col-12">
               
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th  scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <% users.forEach(function(u) { %>
                        <tr> 
                            <th scope="row">
                                <a href="/users/edit/<%= u.id %>"><%= u.id %></a>
                            </th>
                            <td> <%= u.username%> </td>
                            <td> <%= u.email %> </td>
                            <% if (u.role==1) { %>
                                <td>admin</td>
                              <% } else { %> 
                                <td>user</td>
                                <% } %>
                            <% if(user=="admin" && u.username!="admin"){ %>
                                <td>
                                    <a href="/users/edit/<%= user.id %>" class="btn bg-success-subtle">Edit</a> 
                                    <a href="/users/delete/<%= user.id %>" class="btn bg-dark-subtle">Delete</a> 
                                </td>
                                <% } %>
                           
                        </tr>
                    <% }); %>
                    
                    
                    
                </tbody>
            </table>
        </div>

            <div class="col-3">
                <div >
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            
            </div>
            
            
        </div>

      <!-- Js -->


        <script>
          function AddPro(){
            document.getElementById('formadd').style.display="block";
            console.log('Clickme show');
          }
          function outForm(){
            document.getElementById('formadd').style.display="none";
            console.log('Click out');
          }
        </script>
        
        
<%- include('../inc/bot') %>
